@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
/* align the body of HTML */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f7f7f7;
  padding: 0 10px;
}
/* make a box around the body */
.wrapper{
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}
/* signup form CSS code */
.form{
  padding: 25px 30px;
}
/* header adjustments */
.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.form form{
  margin: 20px 0;
}
/* error text adjustments */
.form form .error-txt{
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}
/* makes the first & last name on the same line */
.form form .name-details {
  display: flex;
}
/* gives space between first name and last name */
form .name-details .field:first-child{
  margin-right: 10px;
}
/* gives more space betwen first and last name */
form .name-details .field:last-child{
  margin-left: 10px;
}
/* make the box more spaced out */
.form form .field{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
/* gives more space */
.form form .field label {
  margin-bottom: 2px;
}
/* make the input not have a hover color */
.form form .field input {
  outline: none;
}
/* make the input have a hover addition */
.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* makes the choose file font bigger */
.form form .image input {
  font-size: 17px;
}
/* changes the submit button */
.form form .button input{
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* put the eye icon above password input */
.form form .field i {
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* lets the "eye" icon have a slash after being pressed to show letters */
.form form .field i.active::before{
  color: #333;
  content: "\f070";

}
/* makes the login here look better */
.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
/* makes the login color black if we want to keep that or not
.form .link a{
  color: #333;
}
*/
/* makes login here underlined if hovered */
.form .link a:hover{
  text-decoration: underline;
}

/* Users Area CSS Code */
.users{
  padding: 25px 30px;
}
/* makes the header look cleaner */
.users header,
.users-list a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
/* make img round */
.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}
/* give room for image */
:is(.users, .users-list) .content{
  display: flex;
  align-items: center;
}
/* size for img */
.users header .content img{
  height: 50px;
  width: 50px;
}
/* give more space for img */
:is(.users, .users-list) .details{
  color: #000;
  margin-left: 15px;
}
/* fonts for header */
:is(.users, .users-list) .details span{
  font-size: 18px;
  font-weight: 500;
}
/* make logout button neater */
.users header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: #333;
  border-radius: 5px;
}
.users .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
/* search font */
.users .search .text{
  font-size: 18px;
}
/* make search bar look better */
.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px) ;
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
/* shows when the search input is ready to type in */
.users .search input.active{
  opacity: 1;
  pointer-events: auto;
}
/* make the button look better */
.users .search button{
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #333;
  background: #fff;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 5px 0;
  transition: all 0.2 ease;
}
/* changes the color of the search button when it is ready to search */
.users .search button.active{
  color: #fff;
  background: #333;
}
/* gives an "x" icon for when the search bar is active */
.users .search button.active i::before{
  content: "\f00d";
}
/* make the list look smaller */
.users-list {
  max-height: 350px;
  overflow-y: auto;
}
/* make scrollbar width 0 */
:is(.users-list, .chat-box)::-webkit-scrollbar{
  width: 0px;
}
/* make user list neater */
.users-list a{
  margin-bottom: 10px;
  page-break-after: 10px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
/* fix last child? */
.users-list a:last-child{
  border: none;
  margin-bottom: 0px;

}
/* size for image */
.users-list a .content img{
  height: 40px;
  width: 40px;
}
/* change color of message */
.users-list a .content p{
  color: #67676a;

}
/* make the cirlce(notification) look better */
.users-list a .status-dot {
  font-size: 12px;
  color: #468668
}
/* use this class name in php to show online status */
.users-list a .status-dot.offline{
  color: #ccc;
}
