<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="wrapper">
        <section class="form success">
    <h1>IsThisYou?                             </h1>
    
    <!-- Add a form to input the name -->
    <form action="{{ url_for('video_feed') }}" method="post">
        <label for="name">Enter Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
        <img src="{{ url_for('video_feed') }}" alt="Video Feed">
    </form>
    
    <!-- Video feed -->     
    {% if '/page2' in request.path %}
        <img src="{{ url_for('video_feed') }}" alt="Video Feed">
    {% endif %}
    <form action="#" enctype="multipart/form-data">
    </form>
    </section>
      </div>
</body>
</html>