<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Project Manhattan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="wrapper">
      <section class="form login">
        <header>IsThisYou?</header>
        <form action="{{ url_for('facerec') }}" method="post">
          <div class="error-txt"></div>
            <div class="field input">
              <labl>Email</labl>
              <input type="text" name= "email" placeholder="Enter your email">
            </div>
            <div class="field button">
              <input type="submit" value="Continue">
            </div>
        </form>
        <div class="link">Don't have an account? <a href="{{ url_for('index') }}">Signup here</a></div>
      </section>
    </div>
  </body>
</html>
