<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Project Manhattan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='facerec.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="wrapper2">
      <section class="form signup">
        <header>IsThisYou?</header>
        <p>Move your head around slowly while we scan your face</p>
        <form action="{{ url_for('signupSig') }}" methods="post" >
          <img src="{{ url_for('video_feed') }}" alt="Video Feed">
          <div class="field button">
            <input type="submit" value="Save and Continue">
          </div>
        </form>        
      </section>
    </div>
  </body>
</html>
